{% extends "index.html" %}

{% block title %}Employee{% endblock %}

{% block content %}

<body>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

<center>
<form>
<h1>Employee Information</h1>
<br><br>
  <label for="fname">First Name:</label>
  <input type="text" id="fname" name="fname" size="50">
  <label>Last Name:</label>
  <input type="text" id="lname" name="lname" maxlength="360" size="50"><br><br>
  <label>Email Address:</label>
  <input type="text" id="eaddress" name="eaddress" maxlength="360" size="60">

  <label>Contact Number:</label>
  <input type="text" id="contact" name="contact" maxlength="360" size="31"><br><br>
  <label>Address 1:</label>
  <input type="text" id="address1" name="address1" maxlength="360" size="51">
  <label>Address 2:</label>
  <input type="text" id="address2" name="address2" maxlength="360" size="51" placeholder="This address is optional">
    <br><br>


  <label>Suburb</label>
  <input type="text" id="suburb" name="suburb" maxlength="360" size="31">


  <label>Postcode:</label>
  <input type="text" id="postcode" name="postcode" maxlength="360" size="31">

  <label>State:</label>
  <input type="text" id="state" name="state" maxlength="360" size="21" placeholder="e.g. QLD or NSW ">

<button class="btn btn-success">Submit</button>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
    <p>Kmart © 2008</p>
</center>

</body>
</html>
{% endblock %}
