<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Remove favicon error message -->
        <link rel="shortcut icon" href="#">

        <!-- Spectre.css import -->
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

        <title>Work Tracker | {% block title %}{% endblock %}</title>

    </head>
    
    <body>
        <div class="container grid-xl">
            <header class="navbar">
                <section class="navbar-section">
                    <a href="{{ url_for('staff.homepage') }}" class="navbar-brand mr-2">Work Tracker</a>
                    <a href="{{ url_for('staff.homepage') }}" class="btn btn-link">Home</a>
                    <a href="{{ url_for('staff.roster') }}" class="btn btn-link">Roster</a>
                    <a href="{{ url_for('staff.availability') }}" class="btn btn-link">Availability</a>
                    <a href="{{ url_for('staff.payrollQuery') }}" class="btn btn-link">Payroll Query</a>

                    {% if g.user.isManager %}
                        <a href="{{ url_for('staff.view_employees') }}" class="btn btn-link">View Employees</a>
                        <a href="{{ url_for('staff.managerQueryList') }}" class="btn btn-link">Queries</a>
                    {% else %}
                        <!-- Replace with link to employee query list -->
                        <a href="{{ url_for('staff.queryList') }}" class="btn btn-link">Queries</a>
                    {% endif %}

                    

                    
                    <a href="{{ url_for('signOut') }}" class="btn btn-link">Sign Out</a>
                </section>
                <section class="navbar-section">
                    <div class="input-group input-inline">
                        <a href="{{ url_for('staff.edit') }}" class="btn btn-link">Welcome {{ g.user.firstName }}</a>
                    </div>
                </section>
            </header>
        
            <div id="content">
                {% block content %}
 
                {% endblock %}
            </div>
        </div>
    </body>
</html>
