{% extends "index.html" %}

{% block title %}View Employees{% endblock %}

{% block content %}

<div class="columns">
    <div class="column col-6">
        <form class="form-horizontal">
            <div class="form-group">
              <div class="col-4 col-sm-12">
                <input class="form-input" type="text" id="input-example-1">
              </div>
              <div class="col-4 col-sm-12">
                <button class="btn">Search</button>
              </div>
            </div>
        </form>
    </div>
  </div>


<table class="table">
    <thead>
      <tr>
        <th>Employee Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Employee Level</th>
        <th>Hire Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active">
        <!-- For loop in Jinja -->
        <td></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
