{% extends "index.html" %}

{% block title %}View Employees{% endblock %}

{% block content %}

<br>
<div class="columns">
    <div class="column col-6">
        <form class="form-horizontal">
            <div class="form-group">
              <div class="col-1 col-sm-12">
                <label class="form-label" for="search">Search</label>
              </div>
              <div class="col-3 col-sm-12">
                <input class="form-input" type="text" name="search" id="search">
              </div>
            </div>
            <div class="form-group">
              <div class="col-1 col-sm-12">
                <label class="form-label" for="filter">Filter</label>
              </div>
              <div class="col-3 col-sm-12">
                <select class="form-select" name="filter" id="search">
                  <option>ID</option>
                  <option>First Name</option>
                  <option>Last Name</option>
                  <option>Email</option>
                  <option>Contact Number</option>
                  <option>Address</option>
                  <option>Suburb</option>
                  <option>Postcode</option>
                  <option>State</option>
                  <option>DOB</option>
                  <option>Employee Level</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-4 col-sm-12">
                <button type="submit" class="btn">Search</button>
              </div>
            </div>
        </form>
    </div>
  </div>


<table class="table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Address</th>
        <th>Suburb</th>
        <th>Postcode</th>
        <th>State</th>
        <th>Date of Birth</th>
        <th>Employee Level</th>
      </tr>
    </thead>
    <tbody>
    {% for staffMember in staffMembers %}
      <tr class="active">
        <th>{{ staffMember.staffID }}</th>
        <th>{{ staffMember.firstName}}</th>
        <th>{{ staffMember.lastName }}</th>
        <th>{{ staffMember.email }}</th>
        <th>{{ staffMember.contactNumber }}</th>
        <th>{{ staffMember.address }}</th>
        <th>{{ staffMember.suburb }}</th>
        <th>{{ staffMember.postcode }}</th>
        <th>{{ staffMember.state }}</th>
        <th>{{ staffMember.dob }}</th>
        {% if g.user.isManager == True %}
          <th>Manager</th>
        {% else %}
          <th>Employee</th>
        {% endif %}
        <th>
          <form action="{{ url_for('staff.edit') }}">
            <input type="hidden" name="staffID" value="{{ staffMember.staffID }}">
            <button class="btn" type="submit">Edit</button>
          </form>
          <form action="{{ url_for('staff.addRoster') }}">
            <input type="hidden" name="staffID" value="{{ staffMember.staffID }}">
            <button class="btn" type="submit">Add Roster</button>
          </form>
        </th>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
