{% extends "index.html" %}

{% block title %}Employee Payroll Summary{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<html>
<head>
    <meta charset="UTF-8">
    <title>Employee Pay Summary</title>
</head>

<body>
<center>
<h1>Your Payroll Query Summary</h1>

<br><br>

<table class="table table-striped table-h ver" style="width:500px">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Date Submitted</th>
      <th>Approval Status</th>
    </tr>
  </thead>
  <tbody>


  {% for query in queries %}
    <tr class="active">
      <td>{{ query.staffID }}</td>
      <td>{{ query.date }}</td>
      <td>
        {% if query.status == 1 %}
          <td>Approved</td>
        {% else %}
      <!-- link to view query page -->
      <a href="{{ url_for('staff.viewQuery', payrollID=query.payrollID) }}" class="btn btn-link">Not Approved</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

</center>

</body>
</html>

{% endblock %}

