{% extends "index.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}

<script>
    class Week {
        static times = ['9am', '10am', '11am', '12am', '1pm', '2pm', '3pm', '4pm', '5pm']
        static days = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']

        constructor() {
            const content = document.getElementById("content")

            // Times
            const columnsDiv = document.createElement("div")
            columnsDiv.className = "columns col-gapless"
            content.appendChild(columnsDiv)
            // Empty column
            const emptyColumn = document.createElement("div")
            emptyColumn.className = "column col-1"
            columnsDiv.appendChild(emptyColumn)
            // Time columns
            for(const time of Week.times) {
                const column = document.createElement("div")
                column.className = "column col-1"
                const text = document.createTextNode(time)
                column.appendChild(text)
                columnsDiv.appendChild(column)
            }

            // Fill out times
            this.days = []
            for(const dayName of Week.days) {
                this.days.push(new Day(content, this, dayName))
            }
        }

        updateChanges() {
            const tableBody = document.getElementById("changes")
            tableBody.textContent = ''  // clear table
            this.days.forEach((day) => {
                const existingDay = existingData.find((existingDay) => existingDay.dayName == day.name)
                if (day.hasBlock || existingDay) {
                    // row
                    const row = document.createElement("tr")
                    tableBody.appendChild(row)
                    // date
                    const date = document.createElement("td")
                    date.textContent = day.name
                    row.appendChild(date)
                    // original time
                    
                    const originalTime = document.createElement("td")
                    if (existingDay) {
                        originalTime.textContent = Week.times[existingDay.startTime] + ' - ' + Week.times[existingDay.startTime + existingDay.duration]
                        
                    }
                    row.appendChild(originalTime)
                    // new time
                    const newTime = document.createElement("td")
                    if (day.hasBlock) {
                        newTime.textContent = Week.times[day.startTime] + ' - ' + Week.times[day.endTime + 1]
                    } else {
                        newTime.textContent = 'Removed'
                    }
                    row.appendChild(newTime)
                    
                    // difference
                    const difference = document.createElement("td")
                    difference.textContent = (day.endTime - day.startTime + 1) - existingDay.duration
                    row.appendChild(difference)
                }
            })
        }
    }

    class Day {
        constructor(parent, week, dayName) {
            this.week = week
            this.hasBlock = false
            this.startTime = null
            this.endTime = null
            this.name = dayName
            // Create row
            const columnsDiv = document.createElement("div")
            columnsDiv.className = "columns col-gapless"
            parent.appendChild(columnsDiv)
            // Fill out day
            const dayColumn = document.createElement("div")
            dayColumn.className = "column col-1"
            const text = document.createTextNode(dayName)
            dayColumn.appendChild(text)
            columnsDiv.appendChild(dayColumn)

            this.slots = []
            for (let i = 0; i < Week.times.length - 1; i++) {
                this.slots[i] = new Slot(columnsDiv, this, parseInt(i))
            }
        }

        createSlot(startTime, duration) {
            this.startTime = startTime
            this.endTime = startTime + duration - 1  // eheheh, its a hack
            this.hasBlock = true

            for (let i = startTime; i <= this.endTime; i++) {
                this.slots[i].activate()
            }
        }

        handleClick(time) {
            // this code is shocking
            if (!this.hasBlock) {
                this.createSlot(time, 1)
            } else if (time >= this.startTime && time <= this.endTime) {
                // Decrease time
                if (this.startTime == this.endTime) {
                    const slot = this.slots[time]
                    slot.deactivate()
                    this.hasBlock = false
                } else if ((time - this.startTime) <= (this.endTime - time)) {
                    // Shrink start time
                    for(let i = time; i >= this.startTime; i--) {
                        const slot = this.slots[i]
                        slot.deactivate()
                    }
                    this.startTime = time + 1  // shrink to next slot, this is some real sketchy stuff
                } else {
                    // Shrink end time
                    for(let i = this.endTime; i >= time; i--) {
                        const slot = this.slots[i]
                        slot.deactivate()
                    }
                    this.endTime = time - 1  // shrink to previous slot
                }
            } else {
                // Extend time
                if (time < this.startTime) {
                    for(let i = time; i < this.startTime; i++) {
                        const slot = this.slots[i]
                        slot.activate()
                    }
                    this.startTime = time
                } else {
                    for(let i = time; i > this.endTime; i--) {
                        const slot = this.slots[i]
                        slot.activate()
                    }
                    this.endTime = time
                }
            }

            {% if showChanges %}
                this.week.updateChanges()
            {% endif %}
        }
    }

    class Slot {
        constructor(parent, day, time) {
            this.active = false
            // 1 hour block
            const recordColumn = document.createElement("div")
            recordColumn.className = "column col-1"
            parent.appendChild(recordColumn)
            // Button
            {% if editable %}
            const button = document.createElement("button")
            button.className = "btn btn-link"
            button.onclick = () => day.handleClick(time)
            const text = document.createTextNode('+')
            button.appendChild(text)
            recordColumn.appendChild(button)
            {% endif %}
            // Save
            this.element = recordColumn
        }

        activate() {
            this.active = true
            const slotElement = this.element
            {% if editable %}
            slotElement.firstChild.innerText = "-"
            {% endif %}
            slotElement.style.backgroundColor = "powderblue"
        }

        deactivate() {
            this.active = false
            const slotElement = this.element
            slotElement.firstChild.innerText = "+"
            slotElement.style.backgroundColor = null
        }
    }

    // Build the cool time thing
    const week = new Week()
    // Insert existing data
    const existingData = {{ existingData|tojson }}
    existingData.forEach((day) => {
        // quite the hack
        switch (day.dayName) {
            case "Mon":
                dayName = 0
                break
            case "Tues":
                dayName = 1
                break
            case "Wed":
                dayName = 2
                break
            case "Thurs":
                dayName = 3
                break
            case "Fri":
                dayName = 4
                break
            case "Sat":
                dayName = 5
                break
            case "Sun":
                dayName = 6
                break
        }

        week.days[dayName].createSlot(day.startTime, day.duration)
    })

    // Update changes on page load
    {% if showChanges %}
        document.addEventListener('DOMContentLoaded', function() {
            week.updateChanges()
        })
    {% endif %}

    function send() {
        let blocks = []
        week.days.forEach((day) => {
            if (day.hasBlock) {
                blocks.push({
                    dayName: day.name,
                    startTime: day.startTime,
                    duration: day.endTime - day.startTime + 1
                })
            }
        })
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.open("POST", "{{ request.url }}");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(blocks));
    }
</script>

{% if showChanges %}
    Changes:
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Original Time</th>
            <th>New Time</th>
            <th>Difference</th>
        </tr>
        </thead>
        <tbody id="changes">
        </tbody>
    </table>
{% endif %}
<button class="btn btn-success" onClick="send()">Submit</button>

{% endblock %}
