{% extends "homepage.html" %}

{% block title %}Employee{% endblock %}

{% block content %}

<h2>Welcome: {{g.user.name}}. You have the role {{g.user.roleName}}</h2>

<div class="form-group">
    <label class="form-radio">
        <input type="radio" name="payment" value="daily"></input>
        <i class="form-icon"></i> See Daily Payment
    </label>
    <label class="form-radio">
        <input type="radio" name="payment" value="weekly"></input>
        <i class="form-icon"></i> See Weekly Payment
    </label>
    <label class="form-radio">
        <input type="radio" name="payment" value="monthly" checked></input>
        <i class="form-icon"></i> See Monthly Payment
    </label>
</div>

<h4 id="viewPayInfo">${{payInfo['monthly']}}</h4>

<script>
    const payInfo = {daily: "{{payInfo['daily']}}", weekly: "{{payInfo['weekly']}}", monthly: "{{payInfo['monthly']}}"};
    const payInfoText = document.querySelector("#viewPayInfo");

    function radioButtonChange(e) {
        const selectedPayInfoType = e.target.value;
        payInfoText.innerText = "$" + payInfo[selectedPayInfoType];
    }

    const radioButtons = document.querySelectorAll("input");
    radioButtons.forEach(y => addEventListener("change", radioButtonChange));
</script>

<!-- Example use of roster data -->
{{roster}}
<br>
{{roster[1][1].split(',')}}

<table class="table">
    <thead>
        <tr>
            <th rowspan="2">#</th>
            <th rowspan="2">Task</th>
            <th rowspan="2">Start</th>
            <th rowspan="2">End</th>
            <th colspan="7">Week X</th>
        </tr>
        <tr>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thurs</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>

{% endblock %}
