{% extends "index.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <header>
        <h1 style="text-align: center; position: relative; top: 50px;">Work Tracker</h1>
    </header>

    <div class="login-section container grid-lg">
        <p>Please enter your user number and password</p>
        
        <div class="login-form form-group">
            <p style="text-align: left;">Sign in</p>
            <hr />

            <form action="" method="post" style="position: relative;">
                <label class="form-label" style="text-align: left;" for="staffid">Staff ID</label>
                <input class="form-input" type="text" name="staffid" placeholder="Staff ID" required>

                <label class="form-label" style="text-align: left;" for="password">Password</label>
                <input class="form-input" type="password" name="password" placeholder="Password" required>

                <br /> 
                <button class="btn" type="submit" style="text-align: left; float: left;">Sign in</button>
                <br /> <br />
                <p style="text-align: left;">Forgot Password?</p>
            </form>

            <hr />
            <p style="text-align: left;">New User?</p>
            <button class="btn" style="text-align: left; float: left;"><a href="{{ url_for('signUp')}}">Sign up</a></button>
            <br />
        </div>

        <span class="helper">Help</span>    <span class="helper">Contact us</span>
    </div>
{% endblock %}