{% extends "index.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <header>
        <h1 style="text-align: center; position: relative; top: 50px;">Work Tracker</h1>
    </header>

    <div class="info container grid-lg">
        <p>info about the project</p>
        <button class="btn" type="submit" style="text-align: left; float: left;"><a href="/signIn">Sign in</a></button>
        <button class="btn" style="text-align: left; float: left;"><a href="/signUp">Sign up</a></button>
    </div>
{% endblock %}