<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Spectre.css import -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <title>Work Tracker | {% block title %}{% endblock %}</title>

    <style>
        .login-section {
            text-align: center; 
            position: relative; 
            padding: 50px;
        }

        .login-form {
            padding: 50px;
            margin: auto;

            width: 50%;
            
            border: 2px solid black; 
            border-radius: 25px; 
        }

        .helper {
            padding-inline: 10%;
        }
    </style>

</head>
<body>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>