{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <header>
        <h1 style="text-align: center; position: relative; top: 80px;">Work Tracker</h1>
    </header>

    <div class="login-section container grid-lg">
        <h3>Login</h3>

        <div class="login-form">
            <button class="btn"><a>Employee Login</a></button>
            <br /> <br />
            <button class="btn">Manager Login</button>
        </div>

        <span class="helper">Help</span>    <span class="helper">Contact us</span>
    </div>
{% endblock %}